# Workspaces
/.idea
/.vscode

# Dependencies
/node_modules
*/**/node_modules

# Builds and Dists
/build
/dist

# Test files
*/**/*.test.css
*/**/*.test.js

# Package builds (CSS)
/packages/pycui/**/*.css
/packages/pycui/**/*.js